@import url('header.css');
@import url('nav.css');

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open\ Sans\ Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}